;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies [[binaryage/devtools "0.9.7"]
                [rum "0.12.4"]
                [org.roman01la/citrus "3.0.0" :exclusions [rum]]]

 ;; set an nrepl port for connection to a REPL.
 :nrepl        {:port 8777}

 :builds
 {:app {:target :browser
        :output-dir "public/js/compiled"
        :asset-path "/js/compiled"

        :modules
        {:main
         {:entries [projectname.core]}}

        :devtools
        ;; before live-reloading any code call this function
        {:before-load projectname.core/stop
         ;; after live-reloading finishes call this function
         :after-load projectname.core/start
         ;; serve the public directory over http at port 8700
         :http-root    "public"
         :http-port    8701
         :preloads     [devtools.preload]}
        }}}
